CanyApp/CanyApp/obj
CanyApp/.vs

CanyApp/CanyApp/bin/Debug/net10.0/CandyApp.deps.json
CanyApp/CanyApp/bin/Debug/net10.0/CandyApp.dll
CanyApp/CanyApp/bin/Debug/net10.0/CandyApp.exe
CanyApp/CanyApp/bin/Debug/net10.0/CandyApp.pdb
CanyApp/CanyApp/bin/Debug/net10.0/CandyApp.runtimeconfig.json
CanyApp/CanyApp/bin/Debug/net10.0/CanyApp.deps.json
CanyApp/CanyApp/bin/Debug/net10.0/CanyApp.dll
CanyApp/CanyApp/bin/Debug/net10.0/CanyApp.exe
CanyApp/CanyApp/bin/Debug/net10.0/CanyApp.pdb
CanyApp/CanyApp/bin/Debug/net10.0/CanyApp.runtimeconfig.json
